.button {
  max-width: 124px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
      transition: all 0.2s ease-in-out;
    }
  }
}
