@import url('https://fonts.googleapis.com/css2?family=Qahiri&family=Roboto&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #f2994a;
  --secondary-text-color: #a86a3d;
  --gray-color: rgba(255, 255, 255, 0.5);
  --ash-color: rgba(0, 0, 0, 0.5);
  --hero-bg-color: rgba(219, 208, 204, 0.8);
  --footer-color: #323334;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

p {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

li {
  list-style: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 33px;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

a:hover {
  opacity: 0.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
